.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    max-height: 600px;
    width: 100vw;
    background-image: url('../../assets/hero-banner.png');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    height: 100vh;
}

.hero-content {
    height: 200px;
    margin-left: 50px;
}

.hero-content h1{
    font-size: 3rem;
    color: black;
}

.hero-content h1 .bold {
    font-weight: bold;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #0a1927;
    color: white;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover{
    color: white;
}

.marca-grande {
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    transition: opacity 0.6s ease, transform 0.6s ease;
    transform: translateY(0);
    color: white;
    padding: 150px;
}

.oculto {
    opacity: 0;
    transform: translateY(-100px) scale(0.5);
    pointer-events: none;
}

.inicio {
    background-color: gray;
}
