.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    max-height: 600px;
    width: 100vw;
    background-image: url('../../assets/hero-banner.png');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    height: 100vh;
}

.hero-content {
    height: 200px;
    margin-left: 50px;
}

.hero-content h1{
    font-size: 3rem;
    color: black;
}

.hero-content h1 .bold {
    font-weight: bold;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #0a1927;
    color: white;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover{
    color: white;
}
